@{
    ViewData["Title"] = "forgetpassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<a href="#" class="logo" target="_blank">
    <img src="~/Content/Images/Exigotech-Logo-icon1.png" alt="">
</a>
<div class="section">
    <div class="container">
        <div class="row full-height justify-content-center">
            <div class="col-12 text-center align-self-center py-5">
                <div class="section pb-5 pt-5 pt-sm-2 text-center">
                    <div class="card-3d-wrap mx-auto">
                             <div class="card-3d-wrapper">
                                  <div class="card-front" style="background-color:#4268D6;">
                                       <div class="center-wrap">
                                            <div class="section text-center">
                                                <h4 class="mb-4 pb-3">Forget Password</h4>
                                                   <p>We Have Send Password Reset Link To Your Register Email Account</p>
                                           </div>
                                      </div>
                                 </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
     </div>
</div>