@model HrUser.Models.ForgetPassword

@{
    ViewData["Title"] = "forgetpassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<a href="#" class="logo" target="_blank">
    <img src="~/Content/Images/Exigotech-Logo-icon1.png" alt="">
</a>
<div class="section">
    <div class="container">
        <div class="row full-height justify-content-center">
            <div class="col-12 text-center align-self-center py-5">
                <div class="section pb-5 pt-5 pt-sm-2 text-center">
                    <div class="card-3d-wrap mx-auto">
                             <div class="card-3d-wrapper">
                                  <div class="card-front" style="background-color:#4268D6;">
                                       <div class="center-wrap">
                                            <div class="section text-center">
                                                <h4 class="mb-4 pb-3">Forget Password</h4>
                                                    <form asp-action="forgetpassword" method="post">
                                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                            <div class="form-group">
                                                                @*<label asp-for="Email" class="control-label"></label>*@
                                                                <input asp-for="Email" class="form-style" />
                                                                 <i class="input-icon uil uil-at"></i>
                                                                <span asp-validation-for="Email" class="text-danger"></span>
                                                            </div>
                                                            <div class="form-group">
                                                                <input type="submit" value="Create" class="btn mt-4" asp-action="ForgetpasswordConfirmation" asp-controller="Home"/>
                                                            </div>
                                                    </form>
                           
                                                          <div>
                                                            <p class="mb-0 mt-4 text-center"><a asp-action="Login"  class="link">Back to login</a></p>
                                                          </div>
                                           </div>
                                      </div>
                                 </div>
                            </div>
                        </div>
                   </div>
               </div>
          </div>
     </div>
</div>

@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
*@